# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
DuiLib.opensdf
DuiLib.v11.suo
env.props
*.ilk
bin/TestApp1.exe
bin/RichListDemo.exe
bin/QQDemo.exe
bin/360Safe.exe
bin/DuiLib.exp
*.exp
*.sdf
pdb/*
tmp/*
bin/DuiLib_d.dll
bin/DuiLib_lib.lib
bin/DuiViewer.exe
bin/DuiViewer.lib
bin/FlashDemo_d.exe
bin/FlashDemo.exe
bin/DuiLib.lib
bin/GameDemo.exe
bin/GameDemo_d.exe
bin/ListDemo.exe
bin/DuiLib.dll
bin/MenuDemo.exe
*.bsc
360SafeDemo/Debug/360Safe.bsc
*.bsc
*.bsc
bin/DuiLib_lib_md.lib
bin/DuiLib_lib_mdd.lib
bin/DuiLib_lib_mt.lib
bin/DuiLib_lib_mtd.lib
